@import "@repo/ui/globals.css";

@layer base {
  body {
    padding-top: 74px;
  }
}

@layer utilities {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }

  .safe-top {
    padding-top: env(safe-area-inset-top, 0px);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
